  <div class="page-header">
    <h1>List of Picture!</h1>
    <ul class="actions">
      <li><%= link_to fa_icon("plus") + " Add Picture", new_employee_path, class: "btn btn-primary" %></li>
    </ul>
  </div>

  <div class="container">
    <br />
    <br />
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th><span style="color:green">User Name</span></th>
            <th><span style="color:green">picture Name</span></th>
            <th><span style="color:green">Picture id</span></th>
            <th><span style="color:green">Picture</span></th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @pictures.each do |picture| %>
            <tr>
              <td><%= picture.user_name %></td>
              <td><%= picture.pic_name %></td>
              <td><%= picture.id %></td>
              <td><%= link_to fa_icon("pencil") + " Show", employee_path(picture), class: "btn btn-info" %></td>
              <td><%= link_to fa_icon("trash") + " Delete", employee_path(picture), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{picture.pic_name}?"} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
