  <div class="page-header">
    <h1>Please enter your picture here!</h1>
      <ul class="actions">
        <li><%= link_to fa_icon("arrow-left") + " Homepage",employees_path, class: "btn btn-primary" %></li>
      </ul>
  </div>

  <%= simple_form_for @picture, :url => employees_path(@picture), :html => {:multipart => true} do |f| %>
    <p><%= f.input :pic_name %></p>
    <p><%= f.input :user_name %></p>
    <p><%= f.file_field :attachment %></p>
    <%= f.button :submit, 'Enter Picture', class: "btn-primary" %>
  <% end %>
