<div class="page-header">
  <h1>Show Page Avatar!</h1>
  <ul class="actions">
    <li><%= link_to fa_icon("arrow-left") + " Previous Page", user_avatars_path(current_user), class: "btn btn-danger" %></li>
  </ul>
</div>

<div class="container">
  <br />
  <br />
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><span style="color:green">User Name</span></th>
          <th><span style="color:green">Avatar Name</span></th>
          <th><span style="color:green">Avatar id</span></th>
          <th><span style="color:green">Avatar - Download then stream</span></th>
          <th><span style="color:green">Avatar - Direct S3 download</span></th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @avatar.user_name %></td>
            <td><%= @avatar.pic_name %></td>
            <td><%= @avatar.id %></td>
            <td><%= link_to image_tag(url_for(:controller => "avatars", :action => "show_pic", :id => @avatar.id, :op => 'thumb')), :action => "show_pic", :id => @avatar.id  %></td>
            <td><%= link_to image_tag(@avatar.attachment.url(:thumb)),  @avatar.attachment.url  %></td>
            <td><%= link_to fa_icon("trash") + " Delete", [@employee, @avatar], method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete Avatar: #{@avatar.pic_name}?"} %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
