<div class="page-header">
  <h1>List of Resume!</h1>
  <ul class="actions">
    <li><%= link_to fa_icon("plus") + " Add Resume", new_user_resume_path, class: "btn btn-primary" %></li>
    <li><%= link_to fa_icon("arrow-left") + " Home Page", root_path, class: "btn btn-danger" %></li>
  </ul>
</div>

<div class="container">
  <br />
  <br />
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><span style="color:green">User Name</span></th>
          <th><span style="color:green">Resume id</span></th>
          <th><span style="color:green">Resume Name</span></th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <% @resumes.each do |resume| %>
          <tr>
            <td><%= resume.user_name %></td>
            <td><%= resume.user_id %></td>
            <td><%= resume.resume_name %></td>
            <td><%= link_to fa_icon("pencil") + " Show", user_resume_path(:id => resume.id), class: "btn btn-info" %></td>
            <td><%= link_to fa_icon("trash") + " Delete", [@employee, resume], method: :delete, class: "btn btn-danger",
              data: {confirm: "Are you sure that you wish to delete Resume: #{resume.resume_name}?"} %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
