<div class="page-header">
  <h1>Show Page for :  <%= @resume.resume_name %></h1>
  <ul class="actions">
    <li><%= link_to fa_icon("arrow-left") + " Previous Page", user_resumes_path(current_user), class: "btn btn-danger" %></li>
    <li><%# link_to fa_icon("arrow-left") + " Homepage",employees_path, class: "btn btn-primary" %></li>
  </ul>
</div>

<div class="container">
  <br />
  <br />
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><span style="color:green">User Name</span></th>
          <th><span style="color:green">Resume ID</span></th>
          <th><span style="color:green">Resume Name</span></th>
          <th><span style="color:green">Resume - Download then stream</span></th>
          <th><span style="color:green">Resume - Direct S3 download</span></th>
          <th>&nbsp;</th>

        </tr>
      </thead>
      <tbody>
          <tr>
            <td><%= @resume.user_name %></td>
            <td><%= @resume.id %></td>
            <td><%= @resume.resume_name %></td>
            <td><%= link_to @resume_name, show_resume_path(:id => @resume.id)  %></td>
            <td><%= link_to @resume_name,  @resume.attachment.url  %></td>
            <td><%= link_to fa_icon("trash") + " Delete", [@employee, @resume], method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure that you wish to delete #{@resume.user_name}?"} %></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
