  <!DOCTYPE html>
  <html>
    <head>
      <title>My first application</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>

    <body>
      <nav class="nav navbar-default navbar-fixed-top navbar-static-top" role="navigation">
        <div class="container">


                          <a class="navbar-brand" href="#">
                              <img src="http://placehold.it/150x50&text=Logo" alt="">
                          </a>


          <ul class="nav navbar-nav">
            <li class="<%= "active" if current_page?("/") %>">
              <%= link_to "Home", root_path %>
            </li>
          </ul>

          <% if user_signed_in? %>
           <ul class="nav navbar-nav">
             <li class="<%= "active" if current_page?("/users/#{current_user.id}/avatars") %>">
               <%= link_to "Avatar", user_avatars_path(current_user) %>
             </li>
             <li class="<%= "active" if current_page?("/users/#{current_user.id}/resumes") %>">
               <%= link_to "Resume", user_resumes_path(current_user) %>
             </li>
           </ul>
           <ul class="nav navbar-nav navbar-right">
             <li class="navbar-text">
               Signed in as <%= current_user.email %>
             </li>
             <li>
               <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
             </li>
           </ul>
         <% end %>
￼        </div>
      </nav>

      <div class="container">
        <% flash.each do |key, message| %>
          <div class="alert alert-<%= key %>  alert-dismissable">
            <button type="button" class="close" data-dismiss="alert">
              &times;
            </button>
            <%= message %>
          </div>
        <% end %>
        <%= yield %>
      </div>



    </body>
  </html>
